.Toastify__toast--info {
  background-color: #d6ebff !important;
}
.Toastify__toast--success {
  background-color: #e2ffd6 !important;
}
.Toastify__toast--warning {
  background-color: #ffead6 !important;
}
.Toastify__toast--error {
  background-color: #ffe5e5 !important;
}
