.visit-panel{
    display: block;
    height: 230px;
    background-color: rgb(255, 255, 255);
    width: calc(100% - 260px);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    -webkit-box-shadow: 0px -4px 12px -1px rgba(0,0,0,0.48); 
    box-shadow: 0px -4px 12px -1px rgba(0,0,0,0.48);
}
.visit-panel .btn-close{
    position: absolute;
    right: 13px;
    top: 30px;
}

.visit-panel .header{
    width: calc(100% - 25px);
    padding: 8px;
    background: #ededed;
    border-radius: 7px;
}

.visit-panel .header img{
    width: 40px;
    margin-right: 5px;
    margin-top: -22px;
}
.visit-panel .header .info{
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
}
.visit-panel .header .info b{
font-size: 15px;
}
.visit-panel .header .customer-name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 9px;
    margin-right: 8px;
}

.visit-panel .visit-list {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 74px;
    height: 74px;
    display: block;
}
.visit-panel .visit-list .row{
    border-bottom: solid 1px rgb(226, 226, 226);
    padding-bottom: 5px;
    padding-top: 5px;
}

.visit-panel .table td {
    border-bottom-width : 0px;
    padding-right: 0;
    padding-left: 0;
}

@include media-breakpoint-down(xl) {
    .visit-panel{
        width: 100% !important;
    }
  }